{{ .Scratch.Set "height" (.Get "height") }}
{{ .Scratch.Set "unit" (.Get "unit") }}
{{ .Scratch.Set "ordinal" .Ordinal }}
{{ .Scratch.Set "items" (.Get "items") }}
<div id="carousel-container">
    
        <ul id="inf-carousel" class="animate">
            {{ range $index, $slide := .Site.Data.carousel.images }}
            <li id="c{{ $.Scratch.Get "ordinal" }}_slide{{ add $index 1}}" class="slide animate"
                style="min-width: calc(100%/{{ $.Scratch.Get "items" }}) !important; 
                       padding-bottom: {{ $.Scratch.Get "height" }}{{ $.Scratch.Get "unit" }} !important; 
                       margin-right: 10px;">
                
                    <img class="fit-image" src="{{ $slide.image }}" alt=""/>

            
            </li>
            {{ end }}
            
        </ul> 
    
    <div id="controls">
        <span id="prev"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/prev.png"></span>
        <span id="next"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/next.png"></span>
    </div>
</div>